# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude large video files (>100MB) due to GitHub push limit
public/assets/personal interview videos/د. الاء هاني.mp4
public/assets/personal interview videos/د. هنيدة نجيب عبيدة.mp4

# Temporarily ignore seasons images to split pushes
public/assets/images/Wejha_Seasons/
